<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>❤️ Breakfast Home ❤️</title>
</head>
<body>
  <div class="container">
    <% include ../partials/header %>
    <h1>Love Breakfast? Wanna try some special breakfast from other countries?</h1>
    <h2> Here you go!</h2>
    <h4>You can have a look at as many breakfast dishes shared by people around the world. Check it out!</h4>
    <% Object.keys(dishes).forEach(function (id) { %>
      <h3><%= dishes[id].title %></h3>
      <img src="<%= dishes[id].photo %>">
      <% }) %>
      <% include ../partials/footer %>
    </div>
  </body>
  </html>
